[*.cs]

# CS0649: Field 'GiveRandomItem._effectInfo' is never assigned to, and will always have its default value
dotnet_diagnostic.CS0649.severity = none

# CS0067: The event 'DisableProcs.OnValueDirty' is never used
dotnet_diagnostic.CS0067.severity = suggestion

# IDE0046: Convert to conditional expression
dotnet_style_prefer_conditional_expression_over_return = false

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = silent
